<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>10【掌握】结构指针定义和初始化.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>13【掌握】结构体嵌套使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>14【掌握】成员属性作为函数参数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>1【了解】构造类型概念.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>3【掌握】结构体变量及定义方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>4【掌握】结构体变量的初始化和使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>6结构体占用空间大小.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>7【掌握】结构体作用域.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>8【掌握】结构体数组概念及定义.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>9【掌握】结构数组的初始化和遍历.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>cday09.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E1F38E31C70A8EE00EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F38F11C70A91500EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F38FC1C70A99700EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F39071C70AC0400EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F39121C70C0C600EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F391D1C70C52C00EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F39281C70CA7100EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F39331C71770600EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F393E1C717E0D00EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F39491C718B8D00EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F39541C71920700EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
