<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>2-【掌握】block的typedef.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>3-【掌握】block访问外部变量.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>4-【理解】应用:block的使用场景1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>5-【理解】block作为函数的返回值.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>6-【理解】应用:block的使用场景2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ocjqday03.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E61B37D1C59F299008AB0DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E61B3881C59FCD2008AB0DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E61B3961C5A0B08008AB0DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E805D201C59127000A75DDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E805D2E1C59134C00A75DDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E805D391C59CB5A00A75DDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
