<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>12-【掌握】第一个C语言程序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>12-【掌握】第一个C语言程序2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>12-【掌握】编写第一个C语言程序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>15-【理解】数据类型.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>16-【掌握】数据类型范围与存储方式.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>day01.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0ED31A661C259EA0002A69BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ED31A741C259F2D002A69BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ED31A7F1C25A1C5002A69BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ED31A8A1C25A644002A69BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ED31A951C26D062002A69BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ED31AA01C26DFDE002A69BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
