<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1【了解】类方法学习引入.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>2【掌握】类方法概述及使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>3【掌握】类方法使用注意事项.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>4[掌握]类方法易犯的错误.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>4【掌握】类方法易犯的错误.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>6-【理解】类方法应用场景.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>7-【理解】匿名对象的概念及使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>8-【掌握】匿名对象作为方法的参数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ocday03.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E30C0141C41FDD900E5B186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E30C0221C41FE4000E5B186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E30C02D1C41FE4D00E5B186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E30C0381C42025200E5B186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E30C0431C4204D300E5B186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E30C0541C427A7900E5B186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E30C0621C42851300E5B186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E30C0741C42956C00E5B186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E30C0851C429D0300E5B186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
