<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>19-【理解】内容总结.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ARC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>autorelase的应用场景.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>autorelease使用注意及场景.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>inputNSString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ocjqday02.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>分类Category.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>提供一个快速创建病初始化对象的方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E805C771C55C91500A75DDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E805C851C55C93B00A75DDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E805C901C55C94700A75DDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E805C9B1C55C95500A75DDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E805CBC1C55D93000A75DDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E805CCD1C55F8AF00A75DDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E805CF41C56695E00A75DDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E805D101C58EA2A00A75DDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
