<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>2-【掌握】对象的存储细节.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>2【了解】#pragma mark指令的使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>3【掌握】函数和对象方法的区别.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>4【掌握】常见错误汇总.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>5【掌握】对象和方法之间的关系.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>6【掌握】练习题讲解(一)-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>8-【理解】练习题讲解(一)-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>8【掌握】对象作为方法的参数连续传递.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ocday02.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E30BF7E1C3F7F4800E5B186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E30BF8C1C3F82B000E5B186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E30BF971C3F9AFD00E5B186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E30BFA21C3F9EB700E5B186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E30BFAD1C3FA5F800E5B186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E30BFB81C3FBE8700E5B186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E30BFC31C3FCB7F00E5B186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E30BFCE1C3FE20D00E5B186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E30BFD91C40B6EA00E5B186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
