<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>10【了解】字符串数组应用：字符串排序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>12【掌握】const作用和使用方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>1【掌握】数组指针的概念及定义.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>2【掌握】数组指针初始化和使用方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>3【理解】指针变量之间的算术运算.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>5【掌握】一维指针数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>6【掌握】字符串指针介绍及使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>8【掌握】char类型的指针数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>9【掌握】字符串指针和字符数组的区别.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>day08.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0EE99E5C1C34BE3E00770DDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EE99E6A1C34BEA100770DDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EE99E751C34C23F00770DDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EE99E801C34CC0B00770DDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EE99E8B1C34D4A700770DDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EE99E961C34D85E00770DDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EE99EA11C34DBA900770DDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EE99EAC1C34E04B00770DDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EE99EB71C34FEB500770DDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EE99EC21C35071B00770DDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
