<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>13-【掌握】冒泡排序代码实现.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>5-【掌握】if语句介绍及其基本格式.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>6-【掌握】if语句的嵌套.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>6-【理解】应用：判断字符串长度.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>7-【掌握】if语句的高级用法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>8-【掌握】if语句的使用注意点.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>9-【掌握】do...while循环语句练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>9-【掌握】应用：剪刀石头布游戏.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>9-【掌握】应用：剪刀石头布游戏分析.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>day03备课代码.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E6527551C30CF4900EB47D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E6527631C323C4E00EB47D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E65276E1C32566D00EB47D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E6527791C325CED00EB47D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E6527841C3280F800EB47D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E65278F1C328B1600EB47D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E65279A1C329EF600EB47D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E6527A51C32CB6E00EB47D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E6527B01C337A7D00EB47D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E6527BB1C3385CF00EB47D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
