<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>10【掌握】#typedef和#define的区别.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>11【了解】条件编译的概念及优点.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>12【掌握】#if-#else 条件编译指令.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>13【掌握】#ifdef 条件编译指令.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>14【掌握】#ifndef 条件编译指令.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>17【掌握】static和extern修饰局部变量.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>18【掌握】static和extern修饰全局变量.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>19【掌握】static和extern修饰函数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>1【掌握】枚举类型介绍及定义.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>3【掌握】typedef关键字介绍.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>4【掌握】typedef定义新的类型.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>6【掌握】无参宏定义和使用方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>8【掌握】有参宏定义和使用方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>cday10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E1F39641C71AC3F00EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F39721C71AC5E00EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F397D1C71AE7700EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F39881C71AFC900EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F39931C71C07300EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F399E1C71C0F300EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F39A91C71C1B600EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F39B41C71C24400EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F39BF1C72132900EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F39CA1C72155900EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F39D51C72160900EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F39E01C721A9100EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F39EB1C72200500EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F39F91C7224AA00EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
