<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>10-【理解】继承的注意事项.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>11-【掌握】实例变量修饰符介绍.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>2-【了解】self和super关键字介绍.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>3-【掌握】self用在对象方法中.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>4-【掌握】self用在类方法中.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>5-【理解】self修饰变量.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>6-【理解】self使用总结和注意事项.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>8-【掌握】继承的代码实现.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>9-【理解】基类和派生类之间的关系.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ocday04.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E30C1141C461ABC00E5B186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E30C1221C461AD400E5B186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E30C1301C46208000E5B186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E30C13E1C4625CD00E5B186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E30C14C1C462C8200E5B186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E30C15A1C46304E00E5B186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E6BA7E71C4699F00057866D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E6BA7FF1C46A4750057866D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E6BA8131C46C2CB0057866D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E6BA8271C46D7E40057866D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
