<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>10【了解】字符串数组应用：字符串排序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>11【了解】const关键字介绍.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>12【掌握】const作用和使用方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>14【掌握】常见的内存分配函数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>1【掌握】数组指针的概念及定义.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>2【掌握】数组指针初始化和使用方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>3【掌握】指针变量之间的算术运算－看到这里.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>4【掌握】指针变量之间的关系运算.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>5【掌握】一维指针数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>6【掌握】字符串指针介绍及使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>7【了解】二维字符数组概念.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>8【掌握】char类型的指针数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>9【掌握】字符串指针和字符数组的区别.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>cday08.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E1F38411C6B3DCA00EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F384F1C6B3E8A00EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F385A1C6B3FD300EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F38651C6B4B3A00EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F38701C6B568A00EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F387B1C6B5B7700EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F38861C6B626400EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F38911C6B683400EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F389C1C6B69EF00EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F38A71C6B6BE800EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F38B21C6B7F9D00EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F38BD1C6F2DDD00EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F38C81C6F2E8100EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1F38D31C6F3D1400EC0DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
