<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>10-【理解】NSDate的介绍和使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>11-【掌握】集合对象的内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>11-【掌握】集合对象的内存管理2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>12-【理解】copy概念及入门.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>13-【理解】copy与内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>14-【理解】@property中的copy关键字.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>15-【理解】为自定义的类实现copy操作.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>16-【理解】简单的单例模式实现.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>2-【理解】NSFileManager介绍和用法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>3-【理解】NSFileManager获取子目录.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>4-【理解】NSFileManager创建文件及目录.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>7-【理解】常见的结构体.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>8-【理解】NSNumber的使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>9-【理解】NSValue的介绍和使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ocjqday05.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E6910E31C605B620042AD30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E6910F11C605C0D0042AD30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E6910FC1C607AD70042AD30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E69111A1C61B7600042AD30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E6911251C61B7970042AD30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E6911331C61E9450042AD30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E69113E1C61F4310042AD30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E6911491C61FA840042AD30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E6911541C6202970042AD30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E69115F1C62186C0042AD30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E69116A1C623AC20042AD30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E6911781C624F250042AD30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E6911831C6252120042AD30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E6911911C6256960042AD30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E69119F1C625E960042AD30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
