<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>2-【理解】protocol的使用补充.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>3-【理解】NSString字符串比较.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>4-【理解】NSString前后缀检查及搜索.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>5-【理解】NSRange使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>6-【理解】字符串的截取和替换.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ocjqday04.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E407D8B1C5C7B1D0089DD87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E407D991C5C7D370089DD87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E407DAB1C5C9C610089DD87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E407DB61C5CA6410089DD87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E407DC11C5CB1AA0089DD87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E407DCC1C5CC4950089DD87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
