<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1-【掌握】常量和变量.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>10-【理解】复合赋值运算符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>3-【了解】printf函数的介绍和使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>4-【了解】scanf函数的介绍和使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>7-【掌握】算术运算符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>8-【掌握】算术运算中类型转换问题.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>9-【掌握】赋值运算符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>day0212月24.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E7B7BAE1C2BCD1A0046A6E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E7B7BBC1C2BD3A10046A6E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E7B7BC71C2BE2850046A6E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E7B7BD21C2BEA200046A6E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E7B7BDD1C2BF33F0046A6E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E7B7BE81C2C39DA0046A6E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E7B7BF31C2C458B0046A6E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E7B7BFE1C2C50870046A6E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E7B7C091C2C59CC0046A6E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
